//--PLUGIN NIB--//
@import 'nib/vendor'
vendor-preixes = o ms moz webkit official
@import 'nib/gradients'
//--VARIABLES--//

//--ESTILOS GENERALES--//
html, body
    height 100%
body 
    background #fff
    font-family 'Chivo', sans-serif
    overflow hidden
section
    width 100%
    height 100%
    background url(../img/bg.jpg) center center no-repeat 
    background-size cover
    box-shadow 0px 0px 15px -2px rgba(0,0,0,0.48)
h1, h2, h3, h4, h5, h6
    margin 0 0 20px
    text-transform uppercase
header
    position absolute
    top 0
    left 0
    width calc(100% - 100px)
    padding 20px 50px
    z-index 9
    img
        width 180px  
.loading
    width 100%
    height 100%
    position absolute
    background #fff
    left 0
    top 0
    z-index 9
    img
        position absolute
        left 50%
        top 50%
        margin -55px 0 0 -60px
        width 120px
.cont-info
    padding 40px
    width 300px
    position absolute
    top 40%
    right 20%
    background #000
    color #fff
.btn
    color #fff
    background linear-gradient(150deg, #FF3F85 40%, #FAA720 85%)
    padding 20px 0
    width 100%
    border-radius 10px
    display block
    text-decoration none
    text-align center
    margin 20px 0
    font-weight 700
#step-01
    position relative
    z-index 2
    .heart
        display inline-block
        position absolute
        bottom 10%
        left 30%
        width 400px
        img
            width 100%
    .dec-01
        position absolute
        width 200px
        left 10%
        top 40%
        img
            width 100% 
#step-02
    display none
    position absolute
    left 0
    top 0
    z-index 3
    .cont-result 
        width 100%
        height 100%
        position absolute
        z-index 2
        color #fff
        display none
        .cont
            display table-cell
            vertical-align middle
            .cont-center
                width 500px
                margin 0 auto
                text-align center
    .cont-info 
        top 20%
    .heart
        display inline-block
        position absolute
        bottom 0
        left -20%
        margin 0 auto
        right 0 
        width 500px 
        display none
        transition all 0.5s
        img
            width 100%
            transition all 1s
input[type="text"]
    width 100%
    padding 5px 0 15px
    margin 0 0 10px
    border-bottom 1px solid #cccccc
    border-left none
    border-top none 
    border-right none
    background none
    text-transform uppercase
    font-weight bold
    &:focus
        outline none
.amiga
    color pink
    &:focus
        border-bottom 1px solid pink
.novio
    color cyan
    &:focus
        border-bottom 1px solid cyan
.heart-active
    left 0 !important
.load-result
    width 0
    margin 0 auto
    height 10px
    border-radius 10px
    background rgba(255,255,255,0.5)
    transition all 2s
    .complete-result
        width 0
        margin 0 auto
        height 10px
        border-radius 10px
        background linear-gradient(150deg, #FF3F85 40%, #FAA720 85%)
        transition all 3s
.load-result-ok
    width 100%
    .complete-result
        width 100%
.number
    margin 0 0 20px
    font-size 100px
    font-weight 900
    display none
    color #e44545
    //text-shadow 3px 3px 8px rgba(0, 0, 0, 0.4)
.result-all
    display none
    .cont-text
        background #000
        padding 20px
        margin 40px 0 0
    a
        display block
        color #000
        font-weight 700
        margin 20px 0 0
        text-decoration none
        text-shadow none
    .name-amiga
        color #f5b6c2
        position relative
        margin 0
    .name-novio
        color cyan
#social_share
    width 630px
    height 315px
    position absolute
    left 0
    top 0
    background url("../img/bg.jpg") center center no-repeat
    z-index 0
    .resultado
        top 40%
        width 200px
        position absolute
        text-align center
        font-size 40px
        font-weight 900
        color #e44545
        z-index 2
    .cont
        background #000000
        width 350px
        position absolute
        top 0
        right 0
        height calc(100% - 80px)
        padding 40px
        h2
            margin 0 0 10px
        .name-amiga
            color #f5b6c2
        .name-novio
            color cyan
        p
            color #fff
        img
            width 150px
    .corazon
        height 100%
        opacity 0.3
@media (max-width: 1200px)
    #step-02
        .heart
            left 0
            margin 0 auto
    #step-01
        .heart
            left 10%
@media (max-width: 600px)
    .cont-info
        right initial
        left 0
@media (max-width: 510px)
    #step-02
        .cont-info
            top 100px
    .cont-info
        width 60%
        top  100px
    .number
        font-size 50px
    #step-02
        .cont-result
            .cont
                .cont-center
                    width 90%